# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IDEs
.nb-gradle/
nbproject/private/
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# SO
.DS_Store
Thumbs.db

# Credenciais locais
src/main/resources/application.properties
